<ion-header>
  <ion-navbar>
    <ion-title>
      Sobre o App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <p style="text-align: center">Este App foi desenvolvido para fins de estudo e testes.</p>
  <hr>
</ion-content>
