<ion-header>
  <ion-navbar>
    <ion-title>
      Contato
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="text-align: center">

  <ion-list-header>
    <p style="text-align: center; font-size: x-large">Contato desenvolvedor:</p>
  </ion-list-header>
  <br>

  <hr>
    <p>
      Este aplicativo foi desenvolvido para estudos.</a>.
    </p>
  <hr>
    <p>Email: <a>xxxxx@xxxxx.com</a></p>
  <hr>
    <p>Celular: (00) 00000-0000</p>
  <hr>
  <br>
  <ion-icon name="ionic" item-start></ion-icon>
  @ionicframework
  <br>

</ion-content>
