<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="text-align: center">
  <h2>Bem vindo ao APP</h2>
  <br>
  <p>
    Este é um projeto de teste!
  </p>
  <hr>
  <p>
    Mais itens serão adicionados posteriormente.
  </p>
  <hr>
</ion-content>
